body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
}

h1 {
  color: #d1e7dd !important;
}

h2 {
  color: #c7dbd2 !important;
}

.dropdown-item:hover {
  background-color: transparent !important;
}

#overlay {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-close {
  top: 5%;
  right: 5%;
}
